<table border="2">
    <caption>大乐透 {{ now|date:'Y-m-d H:i'|safe }}</caption>
    <tr>
        <th>前区</th>
        <th>后区</th>
    </tr>
    <tr>  
        <td>{{ A.a }} {{ A.b }} {{ A.c }} {{ A.d }} {{ A.e }}  </td>
        <td>{{ A.f }} {{ A.g }}</td>
    </tr>
    <tr>
        <td>{{ B.a }} {{ B.b }} {{ B.c }} {{ B.d }} {{ B.e }}</td>
        <td>{{ B.f }} {{ B.g }}</td>
    </tr>
    <tr>
        <td>{{ C.a }} {{ C.b }} {{ C.c }} {{ C.d }} {{ C.e }}</td>
        <td>{{ C.f }} {{ C.g }}</td>
    </tr>
    <tr>
        <td>{{ D.a }} {{ D.b }} {{ D.c }} {{ D.d }} {{ D.e }}</td>
        <td>{{ D.f }} {{ D.g }}</td>
    </tr>
    <tr>
        <td>{{ E.a }} {{ E.b }} {{ E.c }} {{ E.d }} {{ E.e }}</td>
        <td>{{ E.f }} {{ E.g }}</td>
    </tr>
    </tr>
</table>
